[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
flask-login = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
